html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

#designed {
  background-image: url("../images/the-flatiron-building.png");
}

.header p {
  text-decoration: underline;
}

.footer p {
  text-decoration: underline;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  color: #fff;
  text-align: center;
}

.footer {
  text-align: left;
}
